header {
  background-color: $introBg;

  .container {
    display: grid;
    grid-template-columns: minmax(73px, 1fr) repeat(3, auto);
    column-gap: 22px;
    align-items: center;

    @include breakpoint(large) {
      column-gap: 56px;
    }
  }

  .logo {
    width: 73px;

    @include breakpoint(large) {
      width: 176px;
    }
  }

  .link {
    font-size: 0.875rem;

    &:hover {
      text-decoration: underline;
    }

    @include breakpoint(large) {
      font-size: 1rem;
    }
  }
}
