header {
  display: grid;
  grid-template-columns: minmax(73px, 1fr) repeat(3, auto);
  column-gap: 22px;
  background-color: $introBg;
  padding: 22px 20px 50px 20px;
  align-items: center;

  @include breakpoint(large) {
    padding: 73px 80px;
    column-gap: 56px;
  }

  .logo {
    width: 73px;

    @include breakpoint(large) {
      width: 176px;
    }
  }

  .link {
    font-size: 0.875rem;

    &:hover {
      text-decoration: underline;
    }

    @include breakpoint(large) {
      font-size: 1rem;
    }
  }
}
