.hero {
  background-color: $introBg;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 40vw;
    width: 100%;
    background-image: url("../images/bg-curvy-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 0;

    @include breakpoint(medium) {
      height: 33vw;
      background-image: url("../images/bg-curvy-desktop.svg");
    }
  }

  > * {
    z-index: 1;
  }

  .illustration {
    width: 100%;
    max-width: 719px;
  }

  h1 {
    font-size: 1.2em;
    max-width: 100%;
    line-height: 1.5;
    margin: 1.6em 0;

    @include breakpoint(small) {
      font-size: 1.7em;
      max-width: 676px;
    }
  }

  p {
    max-width: 100%;
    font-size: 0.8em;
    line-height: 1.6;
    margin-bottom: 1.8em;

    @include breakpoint(small) {
      font-size: 1em;
      max-width: 581px;
    }
  }
}
