.productive {
  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 60px;
    row-gap: 40px;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;

    @include breakpoint(large) {
      max-width: 1320px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-image {
    text-align: center;

    img {
      max-width: 615px;
      width: 100%;
    }
  }

  &-text {
    h2 {
      font-size: 1.125em;
      @include breakpoint(large) {
        font-size: 1.5em;
        max-width: 334px;
      }
    }

    p {
      max-width: 547px;
    }

    a {
      background-image: url("../images/icon-arrow.svg");
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: 25px;
      color: $ctaCyan;
      border-bottom: 1px solid $ctaCyan;
      padding-bottom: 5px;
      transition: border 200ms ease, color 200ms ease;

      &:hover {
        color: #ffffff;
        border-bottom-color: #fff;
      }
    }
  }
}
